@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,900;1,100;1,200;1,300;1,500;1,900&display=swap');

@import url('https://fonts.cdnfonts.com/css/arcon');

                

@font-face {
    font-family: "AvenirBlack";
    src: url(Fonts/AvenirLBlack.otf);
}
@font-face {
    font-family: "AvenirBook";
    src: url(Fonts/AvenirLBook.otf);
}
@font-face {
    font-family: "AvenirRoman";
    src: url(Fonts/AvenirLRoman.otf);
}

@font-face {
    font-family: "AvenirLight";
    src: url(Fonts/AvenirLight.ttf);
}

@font-face {
    font-family: "AvenirHeavy";
    src: url(Fonts/Avenir\ Heavy.ttf);
}

@font-face {
    font-family: "ArconRegular";
    src: url(Fonts/ArconRegular.otf);
}

@font-face {
    font-family: "ArconRegularRounded";
    src: url(Fonts/ArconRoundedRegular.otf);
}

@font-face {
    font-family: "MiyakeRegular";
    src: url(Fonts/miyakeregular.otf);
}

:root{
    --lightGreen: #13f759;
    --darkGreen: #06100e;
    --grayAuto: #51645d;
    --defaultWhite: #f7fffe;
    --AuxilaryWhite: #e5f6f4;
}

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: var(--Book);
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    color: var(--darkGreen);
}

img{
    max-width: 100%;
    height: auto;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 4vh 5%;
  position: absolute;
  width: 90%;
  color: var(--darkGreen);
  z-index: 3;
}

header img{
  max-width: 15vw;
  height: auto;
}

body{
    background: var(--AuxilaryWhite);
}




header  ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header  ul li {
  margin-left: 2rem;
  font-size: 1.1vw;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

header  ul li a {
  text-decoration: none;
  color: var(--darkGreen);
}

header  ul li.resources:hover ul {
  display: block;
}

.resources {
  display: flex;
  align-items: baseline;
  justify-content:center;
}


header  ul li ul {
  display: none;
  position: absolute;
  background-color: var(--grayAuto);
  border-radius: 0 0 4px 4px;
  padding: .5vh 0;
  margin-top: 2.5vh;
}

header  ul li ul li {
  display: block;
  min-width: 160px;
  padding: 1vh 0;
  margin: 0;
  font-size: .9vw;
}

header  ul li ul li a {
  padding: 10px;
  text-align: left;
  color: var(--AuxilaryWhite);
}


body{
  color: var(--defaultWhite);
  
}


#nav{
    display: none;
}
  
#navAlpha{
    display: none;
}






.programYEMP{
  display: flex;
  flex-direction: column;
  padding: 12% 4vw 0vh 4vw;
  color: var(--darkGreen);
}

.programYEMPHeader{
background: var(--darkGreen);
color: var(--AuxilaryWhite);
padding:  3vw;
}


.programYEMP h2{
  font-size: 2vw;
  font-weight: 400;
  font-family: "AvenirRoman";
}

.programYEMP h2 span{
  font-size: 2vw;
  font-weight: 500;
  font-family: "AvenirBlack";
  cursor: pointer;
}


.programYEMP h5{
  font-size: 1.3vw;
  font-weight: 400;
  font-family: "AvenirRoman";
  margin-top: 2vh;
}

.programContainerOne{
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin: 8vh -.5vw 0 -.5vw;
  width: 100%;
  flex-wrap: wrap;
}

.programContainerTwo{
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin: 8vh -.5vw 12px -.5vw;
  width: 100%;
  flex-wrap: wrap;
}

.programContents{
  width: 31%;
  padding: 0 .5vw;
  height: inherit;
}

.programContentsTwo{
  width: 47%;
  padding: 0 .5vw;
  height: inherit;
}

.programContents h1{
  font-size: 2.3vw;
  font-weight: 800;
  font-family: "AvenirHeavy";
  line-height: 2.2vw;
  margin-bottom: 2vw;
}

.programContents h1 span{
  font-size: 2.3vw;
  font-weight: 400;
  font-family: "AvenirRoman";
}

.programContents p{
  font-size: 1.3vw;
  font-weight: 400;
  font-family: "AvenirRoman";
  margin-bottom: 2vw;
  /* text-align: justify; */
}

.programContentsTwo h1{
  font-size: 2.3vw;
  font-weight: 800;
  font-family: "AvenirHeavy";
  line-height: 2.2vw;
  margin-bottom: 2vw;
}

.programContentsTwo h1 span{
  font-size: 2.3vw;
  font-weight: 400;
  font-family: "AvenirRoman";
}

.programContentsTwo p{
  font-size: 1.3vw;
  font-weight: 400;
  font-family: "AvenirRoman";
  margin-bottom: 2vw;
  /* text-align: justify; */
}


.programYEMP img{
  border-radius: .2rem;
}













@media only screen and (max-width: 600px){

    header{
      display: flex;
      align-items: center;
      justify-content: none;
      margin: 0;
      padding: 4vh 7vw;
      position: absolute;
      width: 85%;
      z-index: 999;
    }
    
    header img{
      max-width: 27vw;
      height: auto;
      position: absolute;
      top: 0;
      margin-top: 5vh;
    }
    
    
    nav{
      display: none;
    }
    
    header  ul {
      list-style: none;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
      display: flex;
      margin-left: 8vh;
    }
    
    header  ul li {
      margin-left: 2.5rem;
      margin-bottom: 4vh;
      font-size: 4vw;
      font-weight: 500;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    header  ul li a {
      text-decoration: none;
      color: #fff;
    }
    
    header  ul li.resources:hover ul {
      display: block;
    }
    
    .resources {
      display: flex;
      align-items: baseline;
      justify-content:center;
    }
    
    
    header  ul li ul {
      display: none;
      position: absolute;
      background-color: var(--grayAuto);
      border-radius: 0 0 4px 4px;
      padding: .5vh 0;
      margin-top: 2.5vh;
    }
    
    header  ul li ul li {
      display: block;
      min-width: 160px;
      padding: 1vh 0;
      margin: 0;
      font-size: 2.2vw;
    }
    
    header  ul li ul li a {
      padding: 10px;
      text-align: left;
    }
    
    
    body{
      color: var(--defaultWhite);
    }
    
    #nav{
      display: block;
      border: 0;
      background: 0;
      cursor: pointer;
      margin-right: 4vw;
    }
  
    #navAlpha{
      display: none;
      border: 0;
      background: 0;
      cursor: pointer;
      margin-right: 4vw;
    }
    
  
    #nav img{
      max-width: 6vw;
      height: auto;
    }
  
    #navAlpha img{
      max-width: 6vw;
      height: auto;
    }



    .programYEMP{
      display: flex;
      flex-direction: column;
      padding: 25% 4vw 0vh 4vw;
      color: var(--darkGreen);
  }
  
  .programYEMPHeader{
    background: var(--darkGreen);
    color: var(--AuxilaryWhite);
    padding:  5vw;
  }
  
  
  .programYEMP h2{
    font-size: 4.5vw;
    font-weight: 400;
    font-family: "AvenirRoman";
  }
  
  .programYEMP h2 span{
    font-size: 4.5vw;
    font-weight: 500;
    font-family: "AvenirBlack";
    cursor: pointer;
  }
  
  
  .programYEMP h5{
    font-size: 2.4vw;
    font-weight: 400;
    font-family: "AvenirRoman";
    margin-top: 1.4vh;
  }
  
  .programContainerOne{
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: space-between;
    margin: 3vh 1.5vw 2vh 1.5vw;
    width: auto;
    flex-wrap: wrap;
  }
  
  .programContainerTwo{
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: space-between;
    margin: -2vh 1.5vw 2vh 1.5vw;
    width: auto;
    flex-wrap: wrap;
  }
  
  .programContents{
    width: 100%;
    padding: 2vh 0;
    height: inherit;
  }
  
  .programContentsTwo{
    width: 100%;
    padding: 2vh 0;
    height: inherit;
  }
  
  .programContents h1{
    font-size: 5.8vw;
    font-weight: 800;
    font-family: "AvenirHeavy";
    line-height: 6vw;
    margin-bottom: 4vw;
  }
  
  .programContents h1 span{
    font-size: 5.8vw;
    font-weight: 400;
    font-family: "AvenirRoman";
  }
  
  .programContents p{
    font-size: 3vw;
    font-weight: 400;
    font-family: "AvenirRoman";
    margin-bottom: 2vw;
    /* text-align: justify; */
  }
  
  .programContentsTwo h1{
    font-size: 5.8vw;
    font-weight: 800;
    font-family: "AvenirHeavy";
    line-height: 6vw;
    margin-bottom: 4vw;
  }
  
  .programContentsTwo h1 span{
    font-size: 5.8vw;
    font-weight: 400;
    font-family: "AvenirRoman";
  }
  
  .programContentsTwo p{
    font-size: 3vw;
    font-weight: 400;
    font-family: "AvenirRoman";
    margin-bottom: 2vw;
    /* text-align: justify; */
  }
  
  
  .programHealth img{
    border-radius: .2rem;
  }
  

}
